#nav-bar {
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: #00a087;
	color: #e8fdff;
	padding: 0, 2em, 0, 2em;

}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  font-size: 2em;
  line-height: 2.5em;
}

#nav-bar .logo {
	width: 80px;
	height: 80px;
	float: left;

}

#compose-button {
	border-radius: 10px;
	height: 3em;
	background-color: #eee
	position: relative;
	float: right;
	margin-right: 50px;
	margin-top: 1em;
}

#compose-button:hover{
	background-color: lavender;

}